@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: #616161;
}

.container {
    display: grid;   
    grid-template-columns: 180px 180px 180px 180px;
    justify-content: center;
    grid-column-gap: 60px;
    grid-row-gap: 20px;
    margin-top: 75px;
    overflow: hidden;
}

.item {
    display: flex; 
    flex-direction: column; 
    justify-content:center; 
    width: 180px; 
    height: 180px;
    padding: 18px;
    border: 2px solid;
    border-radius: 5px;
    border-color: #F5F5F5;
    background-color: #F5F5F5;
    text-align: center;
    overflow: hidden;      
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

a:link, a:visited, a:hover, a:active {
    color: #616161; 
}

.icon-table {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}



