@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
nav .navbar-nav li a {
    color: #ECEFF1 !important;
    font-weight: normal;
}

body {
    background-color: #ECEFF1;
    color: #000000;
}

#section-title {
    text-align: left;
    margin-top: 30px;
    margin-bottom: 30px;
}

#section-navigation {   
    height: 50px;
    line-height: 50px;
    background-color: #37474F;
}

#section-portfolio {
    margin-top: 50px;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #ECEFF1;
}

.card-text {
    font-size: small;
}

.card-link:link, .card-link:visited, .card-link:active {
    text-decoration: none;
    color: #000;
}

.card-link:hover {
    opacity: 0.0;
}